@charset "utf-8";
<style>
	* {
	  box-sizing: border-box;
	}
	body {
	  	margin: auto;
		background-image: url("NatureBillede.jpg");
		background-repeat: no-repeat;
		background-attachment: scroll:1,5;
		transform: translateZ(3000px);
		background-size: 1550px, 2000px;
	}

	.topnav {
	  	float:left;
	  	display: block;
	  	color: #f2f2f2;
	  	text-align: center;
	  	padding: 14px 16px;
		text-decoration:underline;
		
	}

	.top-left {
  		position: absolute;
  		top: 0px;
  		left: 0px;
		color: white;
		
	}

	.about{
		color: greenyellow;
		text-decoration: none;
		font-weight: bolder;
		background-color:#816D67;
		font-size: 20px;
	}
	
	a.about:visited{
		color:aqua;
	}

	.topimg {
	  float: right;
	  text-align: center;
	  text-decoration: none;
	}

	
	.{
	object-position: 0px, 0px;
	}

	.Treesign{
		background-position: center;
		align-content: center;
	}

	footer {
      background-color:#964B00; 
      color: #ffffff; 
      padding: 0px;
      text-align: center;
      position:absolute;
      left: 0;
      bottom: 0;
      width:100%;
    }

    
    footer a {
      color: #ffffff; 
      text-decoration: none;
    }

    
    footer a:hover {
      text-decoration:underline;
    }
</style>