@charset "utf-8";
<style>
	* {
	  box-sizing: border-box;
	}
	body {
	  	margin: 0auto;
		background-image: url("NatureBillede.jpg");
		background-repeat: no-repeat;
		background-attachment: scroll:1.5;
		transform: translateZ(50px);
		background-size: 1550px;

	}

	/* Style the header */
	.header {
	  background-color: ;
	  padding: 20px;
	  text-align: leftcorner;
	  border: solid 5px ;

	}


	  	
	

	/* Style the topnav links */
	.topnav {
	  float: right;
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 0px 0px;
	  text-decoration: none;
	}

	
	.{
	object-position: 0px, 0px;
}

	footer {
      background-color:#964B00; 
      color: #ffffff; 
      padding: 20px;
      text-align: center;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    
    footer a {
      color: #ffffff; 
      text-decoration: none;
    }

    
    footer a:hover {
      text-decoration: underline;
    }
</style>